[defaults]
inventory = ./inventory/hosts.yml
roles_path = ./roles
vault_password_file = ./.vault_pass
host_key_checking = False
timeout = 60

[ssh_connection]
retries = 10
pipelining = True
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ControlMaster=auto -o ControlPersist=60s -o ConnectTimeout=60 -o ServerAliveInterval=10
scp_if_ssh = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False